
@using RecipeBox.Models;
@{
  Layout = "_Layout";
}

<h1>Ingredient</h1>
<h2>Ingredient Name: @Model["selectedIngredient"].GetName()</h2>

<hr />
@if (Model["ingredientRecipes"].Count != 0)
{
  <h4>This ingredient has these recipes:</h4>
  <ul>
    @foreach (var recipe in Model["ingredientRecipes"])
    {
      <li>@recipe.GetName()</li>
    }
  </ul>
}
<h4>Add a recipe to this ingredient:</h4>
<form action='/ingredients/@Model["selectedIngredient"].GetId()/recipes/new' method='post'>
  <label for='ingredient-id'>Select a ingredient</label>
  <select id='ingredient-id' name='ingredient-id' type='text'>
    @foreach (var ingredient in @Model["allRecipes"])
    {
      <option value='@ingredient.GetId()'>@ingredient.GetName()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>

<p><a href="/ingredients/">Return to Ingredient List</a></p>
<p><a href="/ingredients/@Model["selectedIngredient"].GetId()/update">Edit Ingredient</a></p>
<p><a href="/ingredients/@Model["selectedIngredient"].GetId()/delete">Delete Ingredient</a></p>
<p><a href="/">Return to Main Page</a></p>
