
@using RecipeBox.Models;
@{
  Layout = "_Layout";
}

<h1>Category</h1>
<h2>Category Name: @Model["selectedCategory"].GetName()</h2>

<hr />
@if (Model["categoryRecipes"].Count != 0)
{
  <h4>This category has these recipes:</h4>
  <ul>
    @foreach (var recipe in Model["categoryRecipes"])
    {
      <li>@recipe.GetName()</li>
    }
  </ul>
}
<h4>Add a recipe to this category:</h4>
<form action='/categories/@Model["selectedCategory"].GetId()/recipes/new' method='post'>
  <label for='recipe-id'>Select a recipe</label>
  <select id='recipe-id' name='recipe-id' type='text'>
    @foreach (var recipe in @Model["allRecipes"])
    {
      <option value='@recipe.GetId()'>@recipe.GetName()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>

<p><a href="/categories/">Return to Category List</a></p>
<p><a href="/categories/@Model["selectedCategory"].GetId()/update">Edit Student</a></p>
<p><a href="/categories/@Model["selectedCategory"].GetId()/delete">Delete Student</a></p>
<p><a href="/">Return to Main Page</a></p>
