
@using RecipeBox.Models;
@{
  Layout = "_Layout";
}

<h1>Tag</h1>
<h2>Tag Name: @Model["selectedTag"].GetName()</h2>

<hr />
@if (Model["tagRecipes"].Count != 0)
{
  <h4>This student has these courses:</h4>
  <ul>
    @foreach (var recipe in Model["tagRecipes"])
    {
      <li>@recipe.GetName()</li>
    }
  </ul>
}
<h4>Add a recipe to this tag:</h4>
<form action='/tags/@Model["selectedTag"].GetId()/recipes/new' method='post'>
  <label for='tag-id'>Select a recipe</label>
  <select id='tag-id' name='tag-id' type='text'>
    @foreach (var tag in @Model["allRecipes"])
    {
      <option value='@tag.GetId()'>@tag.GetName()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>

<p><a href="/tags/">Return to Tag List</a></p>
<p><a href="/tags/@Model["selectedTag"].GetId()/update">Edit Tag</a></p>
<p><a href="/tags/@Model["selectedTag"].GetId()/delete">Delete Tag</a></p>
<p><a href="/">Return to Main Page</a></p>
